body{
    background-image: url(zbg.png);
}

.card{
    display:flex;
    align-items:flex;
    justify-content: center;
    padding:115px;
}

.video{
    position:absolute;
    top:170px;
    left:420px;
}

.band{
    position:absolute;
    bottom:130px;
    right:372px;
}