body {
    background-color:white;
}
    
.card{
    display:flex;
    align-items:flex;
    justify-content: center;
    padding:115px;
    position:fixed;
    left:300px;
}

span1{
    position:absolute;
    text-align:left;
    top:210px;
    left:430px;
}
span2{
    position:absolute;
    text-align:left;
    top:160px;
    left:430px;
}


    .Frage{
       width: 80%; 
       margin-left: auto; 
       margin-right: auto; 
    }
    
.Frage{
    position:absolute;
    top:380px;
    left:385px;
}

.Antwort1{
    position: absolute;
    top:500px;
    left:398px;
    opacity: 1;
    z-index: 999;
}

.Antwort2{
    position:absolute;
    top:500px;
    left:738px;
    opacity: 1;
    z-index: 999;
}

.Antwort3{
    position:absolute;
    top:550px;
    left:398px;
    opacity: 1;
    z-index: 999;
}

.Antwort4{
    position:absolute;
    top:550px;
    left:738px;
    opacity: 1;
    z-index: 999;
}

p1 {
    position:absolute;
    font-family: sans-serif;
    top:425px;
    left:588px;
    color:white;
    z-index: 999;
}

p2 {
    position:absolute;
    font-family: sans-serif;
    top:523px;
    left:500px;
    color:white;
    z-index: 999;
}

.A {
    position:absolute;
    font-family: sans-serif;
    top:507px;
    left:478px;
    color:rgb(240, 130, 13);
    font-weight: bold;
    z-index: 999;
}

p3 {
    position:absolute;
    font-family: sans-serif;
    top:573px;
    left:840px;
    color:white;
    z-index: 999;
}

.B {
    position:absolute;
    font-family: sans-serif;
    top:507px;
    left:818px;
    color:rgb(240, 130, 13);
    font-weight: bold;
    z-index: 999;
}

p4 {
    position:absolute;
    font-family: sans-serif;
    top:573px;
    left:502px;
    color:white;
    z-index: 999;
}

.C {
    position:absolute;
    font-family: sans-serif;
    top:558px;
    left:478px;
    color:rgb(240, 130, 13);
    font-weight: bold;
    z-index: 999;
}

p5{
    position: absolute;
    font-family: sans-serif;
    top:523px;
    left:840px;
    color:white;
    z-index: 999;
}

.D {
    position:absolute;
    font-family: sans-serif;
    top:558px;
    left:818px;
    color:rgb(240, 130, 13);
    font-weight: bold;
    z-index: 999;
}



.Antwort1:hover{
    opacity: 0;
    
}

.Antwort2:hover{
    opacity: 0;
    
}

.Antwort3:hover{
    opacity: 0;
    
}

.Antwort4:hover{
    opacity: 0;
    
}

.xxXXxx1{
    opacity: 1;
    position: absolute;
    top: 500px;
    left: 400px;
}

.xxXXxx2{
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 400px;
}


.xxXXxx3{
    opacity: 1;
    position: absolute;
    top: 500px;
    left: 737px;
}

.xxXXxx4{
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 737px;
}
